{include file='Common/_head'}
<div class="content">
	 <div class="container">
		 <div class="slider">
				<ul class="rslides" id="slider1">
				  <li><img src="__STATIC__/images/banner2.jpg" alt=""></li>
				  <li><img src="__STATIC__/images/banner1.jpg" alt=""></li>
				  <li><img src="__STATIC__/images/banner3.jpg" alt=""></li>
				</ul>
		 </div>
	 </div>
</div>

<div class="content_center">
	 <div class="container">
		 <div class="sofas">
			 <div class="col-md-7 sofas">
			 	<div style="height:300px">
				 	<a href="#">最新</a>
					<div class="h_nav" style="margin-left:20px">
						<ul>
							<li><a href="products.html">Single BedSingle BedSingle BedSingle Bed</a></li>
							<li><a href="products.html">Poster Bed</a></li>
							<li><a href="products.html">Sofa Cum Bed</a></li>
							<li><a href="products.html">Bunk Bed</a></li>
							<li><a href="products.html">King Size Bed</a></li>
							<li><a href="products.html">Metal Bed</a></li>
							<li><a href="products.html">Metal Bed</a></li>
						</ul>	
					</div>			
			 	</div>
			 	<div style="height:300px">
				 	<a href="products.html">最热</a>
				 	<div class="h_nav" style="margin-left:20px">
						<ul>
							<li><a href="products.html">Single BedSingle BedSingle BedSingle Bed</a></li>
							<li><a href="products.html">Poster Bed</a></li>
							<li><a href="products.html">Sofa Cum Bed</a></li>
							<li><a href="products.html">Bunk Bed</a></li>
							<li><a href="products.html">King Size Bed</a></li>
							<li><a href="products.html">Metal Bed</a></li>
							<li><a href="products.html">Metal Bed</a></li>
						</ul>	
					</div>	
			 	</div>
			 </div>
			 <div class="col-md-5"  style="height:600px">
				 <a href="products.html">资源地图</a>
				 <div id="baidu_map" style="height:570px;"></div>
			 </div>
			 <div class="clearfix"></div>
		 </div>
	 </div>
</div>

{include file='Common/_footer'}