{include file='Common/_head'}
<!---->
<div class="top-sellers">
	 <div class="container">
	 	<h3 style="margin-top:50px">中药鉴别</h3>
	 	<h5>　　藏药起源于西藏，是中华民族——藏族的传统文化</h5>
		 <div class="sofas">
		 	<div style="margin-top:30px;">
		 		<a href="{:url('Kown/index_more')}">
				 <div class="col-md-5 ">
					 <img src="__STATIC__/images/banner1.jpg" alt=""/>
				 </div>
				 <div class="col-md-7">
					 <p>好好学习，天天向上</p>
					 <p style="margin-top:20px;">发布人：Connoon</p>
					 <p>发布时间：2019-03-29</p>
				 </div>
				 <div class="clearfix"></div>
				 </a>
			 </div>
			
			<div style="margin-top:30px;">
				<a href="{:url('Kown/index_more')}">
				 <div class="col-md-5 ">
					 <img src="__STATIC__/images/banner1.jpg" alt=""/>
				 </div>
				 <div class="col-md-7">
					 <p>好好学习，天天向上</p>
					 <p style="margin-top:20px;">发布人：Connoon</p>
					 <p>发布时间：2019-03-29</p>
				 </div>
				 <div class="clearfix"></div>
				 </a>
			</div>

			<div style="margin-top:30px;">
				 <a href="{:url('Kown/index_more')}">
				 <div class="col-md-5 ">
					 <img src="__STATIC__/images/banner1.jpg" alt=""/>
				 </div>
				 <div class="col-md-7">
					 <p>好好学习，天天向上</p>
					 <p style="margin-top:20px;">发布人：Connoon</p>
					 <p>发布时间：2019-03-29</p>
				 </div>
				 <div class="clearfix"></div>
				 </a>
			 </div>

		 </div>
	 </div>
</div>

{include file='Common/_footer'}