{include file='Common/_head'}
<!---->
<div class="single-sec">
	 <div class="container">
		 <ol class="breadcrumb">
			 <li><a href="{:url('Index/index')}">主页</a></li>
			 <li class="active">中药材百科</li>
			 <li class="active">{$list.zy_name}</li>
		 </ol>
		 <!-- start content -->	
			<div class="col-md-9 det">
				  <div class="single_left">
					 <div class="grid images_3_of_2">
						 <ul id="etalage">
							<li>
								<a href="#">
									<img class="etalage_thumb_image" src="__STATIC__/uploads/{$list.zy_image}" class="img-responsive" />
									<img class="etalage_source_image" src="__STATIC__/uploads/{$list.zy_image}" class="img-responsive" title="" />
								</a>
							</li>
						 </ul>
						 <div class="clearfix"></div>		
				      </div>
				  </div>
				  <div class="single-right">
					 <h3>{$list.zy_name}<span style="font-size: 14px;">(中药材)</span></h3>
					 <div class="id"><h4>中药学名: {$list.zy_study_name}</h4></div>
					  <div style="height:20px"></div>
					  <div class="item-list col-md-6">
						 <ul>
							 <li><span style="color:red">中药名称</span>: {$list.zy_name}</li>
							 <li>别名: {$list.zy_new_name}</li>
							 <li>科: {$list.zy_kemu}</li>
							 <li>所属功效区: {$list.zy_gongneng_type}</li>
							 <li>分布区域: {$list.zy_fenbu|getMedicineMoreFenbu=###}</li>
						 </ul>
					  </div>
					  {if condition = " $is_yaoyong eq true"}
					  <div class="item-list col-md-6">
						 <ul>
							 <li><span style="color:red">中药名称</span>: 芦荟</li>
							 <li>别名: 卢会、象胆</li>
							 <li>科: 百合科</li>
							 <li>所属功效区: 泻下药</li>
							 <li>分布区域: 南美洲及西印度群</li>
						 </ul>
					  </div>
					  {/if}
					  <div class="clearfix"></div>
					  <div class="single-bottom1">
						<h6>简介</h6>
						<p class="prod-desc">　　{$list.zy_content}</p>
					 </div>					 
				  </div>
				  <div class="clearfix"></div>
				  <div class="sofaset-info">
					  <h3>来源</h3>
					  <div>{$list.zy_laiyuan}</div>
					  <h3>分布产地</h3>
					  <div>{$list.zy_fenbu}</div>
					  <h3>入药部位</h3>
					  <div>{$list.zy_ruyao}</div>
					  <h3>采收加工</h3>
					  <div>{$list.zy_jiagong}</div>
					  <h3>药材性状</h3>
					  <div>{$list.zy_xingzhuang}</div>
					  <h3>性味归经</h3>
					  <div>{$list.zy_xingwei}</div>
					  <h3>药材功效</h3>
					  <div>{$list.zy_gongxiao}</div>
					  <h3>药材主治</h3>
					  <div>{$list.zy_zhuzhi}</div>
					  <h3>用法用量</h3>
					  <div>{$list.zy_yongfa}</div>
					  <h3>贮藏保存</h3>
					  <div>{$list.zy_baocun}</div>
					  <h3>用药禁忌</h3>
					  <div>{$list.zy_jinji}</div>
					  <h3>道地性</h3>
					  <div>{$list.zy_daodixing}</div>
				  </div>				  					
		    </div>
			<div class="rsidebar span_1_of_left">
				<section  class="sky-form">
					 <div class="product_right">
						 <h4 class="m_2"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span>每日推荐</h4>
						 <div class="tab1">
							 <ul class="place">								
								 <li class="sort">道地药材-维药</li>
								 <li class="by"><img src="__STATIC__/images/do.png" alt=""></li>
									<div class="clearfix"> </div>
							  </ul>
							 <div class="single-bottom">						
									<a href="#"><p>天山雪莲</p></a>
									<a href="#"><p>灵芝</p></a>
									<a href="#"><p>冰雪</p></a>
									<a href="#"><p>高山</p></a>
									<a href="#"><p>冰川</p></a>
						     </div>
					      </div>						  
						  <div class="tab2">
							 <ul class="place">								
								 <li class="sort">中药材库-清热药</li>
								 <li class="by"><img src="__STATIC__/images/do.png" alt=""></li>
									<div class="clearfix"> </div>
							  </ul>
							 <div class="single-bottom">						
									<a href="#"><p>板蓝根</p></a>
									<a href="#"><p>金银花</p></a>
									<a href="#"><p>颗粒</p></a>
									<a href="#"><p>圣水</p></a>
									<a href="#"><p>圣水</p></a>
						     </div>
					      </div>
						  <div class="tab3">
							 <ul class="place">								
								 <li class="sort">药用植物库-木兰科</li>
								 <li class="by"><img src="__STATIC__/images/do.png" alt=""></li>
									<div class="clearfix"> </div>
							  </ul>
							 <div class="single-bottom">						
									<a href="#"><p>花</p></a>
									<a href="#"><p>木兰花</p></a>
									<a href="#"><p>好看的木兰花</p></a>
									<a href="#"><p>洁白的木兰花</p></a>
									<a href="#"><p>洁白的木兰花</p></a>
						     </div>
					      </div>
					      <!--
						  <div class="tab4">
							 <ul class="place">								
								 <li class="sort">Bed & Bath</li>
								 <li class="by"><img src="images/do.png" alt=""></li>
									<div class="clearfix"> </div>
							  </ul>
							 <div class="single-bottom">						
									<a href="#"><p>Towels</p></a>
									<a href="#"><p>Bath Roles</p></a>
									<a href="#"><p>Mirrors</p></a>
									<a href="#"><p>Soap Stands</p></a>
						     </div>
					      </div>
						  <div class="tab5">
							 <ul class="place">								
								 <li class="sort">Fabric</li>
								 <li class="by"><img src="images/do.png" alt=""></li>
									<div class="clearfix"> </div>
							  </ul>
							 <div class="single-bottom">						
									<a href="#"><p>Sofas</p></a>
									<a href="#"><p>Fabric Sofas</p></a>
									<a href="#"><p>Beds</p></a>
									<a href="#"><p>Relax Chairs</p></a>
						     </div>
					      </div>
						  -->
						<script>
							$(document).ready(function(){
								$(".tab1 .single-bottom").hide();
								$(".tab2 .single-bottom").hide();
								$(".tab3 .single-bottom").hide();
								$(".tab4 .single-bottom").hide();
								$(".tab5 .single-bottom").hide();
								
								$(".tab1 ul").click(function(){
									$(".tab1 .single-bottom").slideToggle(300);
								})
								$(".tab2 ul").click(function(){
									$(".tab2 .single-bottom").slideToggle(300);
								})
								$(".tab3 ul").click(function(){
									$(".tab3 .single-bottom").slideToggle(300);
								})
								$(".tab4 ul").click(function(){
									$(".tab4 .single-bottom").slideToggle(300);
								})	
								$(".tab5 ul").click(function(){
									$(".tab5 .single-bottom").slideToggle(300);
								})	
							});
						</script>
						<!-- script -->					 
				 </section>
				 <section  class="sky-form">
					 <h4><span class="glyphicon glyphicon-minus" aria-hidden="true"></span>相关中药</h4>
					 <div class="xiangguan">
					 	<div class="col-md-4">
				 			<a href="{:url('Medicine/index_more')}"><img src="__STATIC__/images/banner2.jpg" width="100%" height="50px" alt=""/></a>
				 			<a href="{:url('Medicine/index_more')}">犀牛角</a>
					 	</div>
					 	<div class="col-md-4">
					 		<a href="{:url('Medicine/index_more')}"><img src="__STATIC__/images/banner2.jpg" width="100%" height="50px" alt=""/></a>
				 			<a href="{:url('Medicine/index_more')}">犀牛角</a>
					 	</div>
					 	<div class="col-md-4">
					 		<a href="{:url('Medicine/index_more')}"><img src="__STATIC__/images/banner2.jpg" width="100%" height="50px" alt=""/></a>
				 			<a href="{:url('Medicine/index_more')}">犀牛角</a>
					 	</div>

					 	<div class="col-md-4">
				 			<a href="{:url('Medicine/index_more')}"><img src="__STATIC__/images/banner2.jpg" width="100%" height="50px" alt=""/></a>
				 			<a href="{:url('Medicine/index_more')}">犀牛角</a>
					 	</div>
					 	<div class="col-md-4">
					 		<a href="{:url('Medicine/index_more')}"><img src="__STATIC__/images/banner2.jpg" width="100%" height="50px" alt=""/></a>
				 			<a href="{:url('Medicine/index_more')}">犀牛角</a>
					 	</div>
					 	<div class="col-md-4">
					 		<a href="{:url('Medicine/index_more')}"><img src="__STATIC__/images/banner2.jpg" width="100%" height="50px" alt=""/></a>
				 			<a href="{:url('Medicine/index_more')}">犀牛角</a>
					 	</div>

					 	<div class="col-md-4">
				 			<a href="{:url('Medicine/index_more')}"><img src="__STATIC__/images/banner2.jpg" width="100%" height="50px" alt=""/></a>
				 			<a href="{:url('Medicine/index_more')}">犀牛角</a>
					 	</div>
					 	<div class="col-md-4">
					 		<a href="{:url('Medicine/index_more')}"><img src="__STATIC__/images/banner2.jpg" width="100%" height="50px" alt=""/></a>
				 			<a href="{:url('Medicine/index_more')}">犀牛角</a>
					 	</div>
					 	<div class="col-md-4">
					 		<a href="{:url('Medicine/index_more')}"><img src="__STATIC__/images/banner2.jpg" width="100%" height="50px" alt=""/></a>
				 			<a href="{:url('Medicine/index_more')}">犀牛角</a>
					 	</div>
						<!--
						<label class="checkbox"><a href="index.html"><input type="checkbox" name="checkbox"><i></i>人参</a></label>
						<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>鹿茸</label>
						<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>10% - 5% (2)</label>
						<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Other(50)</label>
						<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>鹿茸</label>
						<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>10% - 5% (2)</label>
						<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Other(50)</label>
						-->
						 
					 </div>
				 </section> 									 			 
			   </div>
		</div>	     				
		     <div class="clearfix"></div>
	  </div>	 
</div>

{include file='Common/_footer'}