{include file='Common/_head'}
<!---->
<div class="top-sellers">
	 <div class="container">
		 <h3 style="margin-top:50px">藏药</h3>
		 <h5>　　藏药起源于西藏，是中华民族——藏族的传统文化</h5>
		 <div class="seller-grids">
			 <div class="col-md-3 seller-grid">
				 <a href="{:url('Medicine/index_more')}"><img src="__STATIC__/images/banner2.jpg" alt=""/></a>
				 <h4><a href="medicine_more.html">Carnival Doublecot Bed</a></h4>
				 <span>ID: DB4790</span>
				 <p>Rs. 25000/-</p>
			 </div>
			 <div class="col-md-3 seller-grid">
				 <a href="{:url('Medicine/index_more')}"><img src="__STATIC__/images/banner2.jpg" alt=""/></a>
				 <h4><a href="{:url('Medicine/index_more')}">Home Bar Furniture</a></h4>
				 <span>ID: BR4822</span>
				 <p>Rs. 5000/-</p>
			 </div>
			 <div class="col-md-3 seller-grid">
				 <a href="{:url('Medicine/index_more')}"><img src="__STATIC__/images/banner2.jpg" alt=""/></a>
				 <h4><a href="{:url('Medicine/index_more')}">L-shaped Fabric Sofa set</a></h4>
				 <span>ID: LF8560</span>
				 <p>Rs. 45000/-</p>
			 </div>
			 <div class="col-md-3 seller-grid">
				 <a href="{:url('Medicine/index_more')}"><img src="__STATIC__/images/banner2.jpg" alt=""/></a>
				 <h4><a href="{:url('Medicine/index_more')}">Ritz Glass Dinning Table </a></h4>
				 <span>ID: DB4790</span>
				 <p>Rs. 18000/-</p>
			 </div>
			 <div class="col-md-3 seller-grid">
				 <a href="{:url('Medicine/index_more')}"><img src="__STATIC__/images/banner2.jpg" alt=""/></a>
				 <h4><a href="{:url('Medicine/index_more')}">Carnival Doublecot Bed</a></h4>
				 <span>ID: DB4790</span>
				 <p>Rs. 25000/-</p>
			 </div>
			 <div class="col-md-3 seller-grid">
				 <a href="{:url('Medicine/index_more')}"><img src="__STATIC__/images/banner2.jpg" alt=""/></a>
				 <h4><a href="{:url('Medicine/index_more')}">Home Bar Furniture</a></h4>
				 <span>ID: BR4822</span>
				 <p>Rs. 5000/-</p>
			 </div>
			 <div class="col-md-3 seller-grid">
				 <a href="{:url('Medicine/index_more')}"><img src="__STATIC__/images/banner2.jpg" alt=""/></a>
				 <h4><a href="{:url('Medicine/index_more')}">L-shaped Fabric Sofa set</a></h4>
				 <span>ID: LF8560</span>
				 <p>Rs. 45000/-</p>
			 </div>
			 <div class="col-md-3 seller-grid">
				 <a href="{:url('Medicine/index_more')}"><img src="__STATIC__/images/banner2.jpg" alt=""/></a>
				 <h4><a href="{:url('Medicine/index_more')}">Ritz Glass Dinning Table </a></h4>
				 <span>ID: DB4790</span>
				 <p>Rs. 18000/-</p>
			 </div>
			 <div class="col-md-3 seller-grid">
				 <a href="{:url('Medicine/index_more')}"><img src="__STATIC__/images/banner2.jpg" alt=""/></a>
				 <h4><a href="{:url('Medicine/index_more')}">Carnival Doublecot Bed</a></h4>
				 <span>ID: DB4790</span>
				 <p>Rs. 25000/-</p>
			 </div>
			 <div class="col-md-3 seller-grid">
				 <a href="{:url('Medicine/index_more')}"><img src="__STATIC__/images/banner2.jpg" alt=""/></a>
				 <h4><a href="{:url('Medicine/index_more')}">Home Bar Furniture</a></h4>
				 <span>ID: BR4822</span>
				 <p>Rs. 5000/-</p>
			 </div>
			 <div class="col-md-3 seller-grid">
				 <a href="{:url('Medicine/index_more')}"><img src="__STATIC__/images/banner2.jpg" alt=""/></a>
				 <h4><a href="{:url('Medicine/index_more')}">L-shaped Fabric Sofa set</a></h4>
				 <span>ID: LF8560</span>
				 <p>Rs. 45000/-</p>
			 </div>
			 <div class="clearfix"></div>
		 </div>
	 </div>
</div>

{include file='Common/_footer'}