<!DOCTYPE HTML>
<html>
<head>
<title>中药材知识系统</title>
<link href="__STATIC__/css/bootstrap.css" rel='stylesheet' type='text/css' />
<script type='text/javascript' src="__STATIC__/js/jquery-1.11.1.min.js"></script>
<link href="__STATIC__/css/style.css" rel='stylesheet' type='text/css' />
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="icon" href="__STATIC__/images/favicon.ico" type="image/x-icon">
<link href="__STATIC__/css/megamenu.css" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript" src="__STATIC__/js/megamenu.js"></script>
<script>$(document).ready(function(){$(".megamenu").megamenu();});</script>
  <script src="__STATIC__/js/responsiveslides.min.js"></script>
<script>
    $(function () {
      $("#slider1").responsiveSlides({
         auto: true,
		 nav: true,
		 speed: 500,
		 namespace: "callbacks",
      });
    });
  </script>

  <!-- 引用百度地图API文件 -->
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=Fmw0Nn2iPgfKKVkdaNVBKqWWcO3P0uyK"></script>
<script type="text/javascript" src="http://api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.js"></script>
<link rel="stylesheet" href="http://api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.css" />
<link href="__STATIC__/css/form.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="__STATIC__/css/etalage.css">
<script src="__STATIC__/js/jquery.etalage.min.js"></script>
<script>
			jQuery(document).ready(function($){

				$('#etalage').etalage({
					thumb_image_width: 300,
					thumb_image_height: 400,
					source_image_width: 900,
					source_image_height: 1200,
					show_hint: true,
					click_callback: function(image_anchor, instance_id){
						alert('Callback example:\nYou clicked on an image with the anchor: "'+image_anchor+'"\n(in Etalage instance: "'+instance_id+'")');
					}
				});

			});
		</script>
</head>
<body>

<div class="header_top">
	 <div class="container">
		 <div class="logo">
		 	<a href="index.html"><img src="__STATIC__/images/logo1.png" alt=""/></a></div>
		 <div class="header_right">中药材知识CHINESE MEDICINE</div>
	 </div>
</div>
<div class="mega_nav">
	 <div class="container">
		<div class="menu_sec">
			<!-- start header menu -->
			<ul class="megamenu skyblue">
				 <li class="active grid"><a class="color1" href="{:url('Index/index')}">主页</a></li>
				 <li class="grid"><a class="color2" href="{:url('Map/index')}">中药材资源地图</a></li>
				<li><a class="color4" href="#">中药材百科</a>
					<div class="megapanel">
						<div class="row">
							<div class="col1">
								<div class="h_nav">
									<h4>道地药材</h4>
									<ul>
										<li><a href="{:url('Medicine/index',array('id'=> 1))}">维药</a></li>
										<li><a href="{:url('Medicine/index',array('id'=> 2))}">秦药</a></li>
										<li><a href="{:url('Medicine/index',array('id'=> 3))}">藏药</a></li>
										<li><a href="{:url('Medicine/index',array('id'=> 4))}">川药</a></li>
										<li><a href="{:url('Medicine/index',array('id'=> 5))}">云药</a></li>
										<li><a href="{:url('Medicine/index',array('id'=> 6))}">贵药</a></li>
										<li><a href="{:url('Medicine/index',array('id'=> 7))}">广药</a></li>
										<li><a href="{:url('Medicine/index',array('id'=> 8))}">海药</a></li>
										<li><a href="{:url('Medicine/index',array('id'=> 9))}">云药</a></li>
										<li><a href="{:url('Medicine/index',array('id'=> 10))}">浙药</a></li>
										<li><a href="{:url('Medicine/index',array('id'=> 11))}">淮药</a></li>
										<li><a href="{:url('Medicine/index',array('id'=> 12))}">怀药</a></li>
										<li><a href="{:url('Medicine/index',array('id'=> 13))}">北药</a></li>
										<li><a href="{:url('Medicine/index',array('id'=> 14))}">蒙药</a></li>
										<li><a href="{:url('Medicine/index',array('id'=> 15))}">关药</a></li>
									</ul>	
								</div>							
							</div>
							<div class="col1">
								<div class="h_nav">
									<h4>中药材库</h4>
									<ul>
										<li><a href="{:url('Medicine/index',array('id'=> 16))}">解表药</a></li>
										<li><a href="{:url('Medicine/index',array('id'=> 17))}">清热药</a></li>
										<li><a href="{:url('Medicine/index',array('id'=> 18))}">泻下药</a></li>
										<li><a href="{:url('Medicine/index',array('id'=> 19))}">祛风湿药</a></li>
										<li><a href="{:url('Medicine/index',array('id'=> 20))}">化湿药</a></li>
										<li><a href="{:url('Medicine/index',array('id'=> 21))}">利水渗湿药</a></li>
										<li><a href="{:url('Medicine/index',array('id'=> 22))}">温里药</a></li>
										<li><a href="{:url('Medicine/index',array('id'=> 23))}">理气药</a></li>
										<li><a href="{:url('Medicine/index',array('id'=> 24))}">祛湿药</a></li>
									</ul>	
								</div>							
							</div>
							<div class="col1">
								<div class="h_nav">
									<h4>中药材库</h4>
									<ul>
										<li><a href="{:url('Medicine/index',array('id'=> 25))}">驱虫药</a></li>
										<li><a href="{:url('Medicine/index',array('id'=> 26))}">止血药</a></li>
										<li><a href="{:url('Medicine/index',array('id'=> 27))}">活血化瘀药</a></li>
										<li><a href="{:url('Medicine/index',array('id'=> 28))}">化痰止咳平喘药</a></li>
										<!--<li><a href="{:url('Medicine/index',array('id'=> 1))}">安神药</a></li>
										<li><a href="{:url('Medicine/index',array('id'=> 1))}">平肝息风药</a></li>
										<li><a href="{:url('Medicine/index',array('id'=> 1))}">开窍药</a></li>
										<li><a href="{:url('Medicine/index',array('id'=> 1))}">补虚药</a></li>
										<li><a href="{:url('Medicine/index',array('id'=> 1))}">收涩药</a></li>-->
									</ul>
								</div>
							</div>
							<div class="col1">
								<div class="h_nav">
									<h4>药用植物库</h4>
									<ul>
										<li><a href="{:url('Medicine/index',array('id'=> 29))}">木兰科</a></li>
										<li><a href="{:url('Medicine/index',array('id'=> 30))}">八角科</a></li>
										<li><a href="{:url('Medicine/index',array('id'=> 31))}">五味子科</a></li>
										<li><a href="{:url('Medicine/index',array('id'=> 32))}">番荔枝科</a></li>
										<li><a href="{:url('Medicine/index',array('id'=> 33))}">樟科</a></li>
										<li><a href="{:url('Medicine/index',array('id'=> 34))}">莲叶桐科</a></li>
										<li><a href="{:url('Medicine/index',array('id'=> 35))}">毛茛(gen)科</a></li>
										<li><a href="{:url('Medicine/index',array('id'=> 36))}">金鱼藻科</a></li>
										<li><a href="{:url('Medicine/index',array('id'=> 37))}">睡莲科</a></li>
										<li><a href="{:url('Medicine/index',array('id'=> 38))}">小檗(bo)科</a></li>
										<li><a href="{:url('Medicine/index',array('id'=> 39))}">木通科</a></li>
										<li><a href="{:url('Medicine/index',array('id'=> 40))}">防己科</a></li>
										<li><a href="{:url('Medicine/index',array('id'=> 41))}">马兜铃科</a></li>
									</ul>	
								</div>												
							</div>	
	    				</div>
	    			</div>
				</li>				
				<li><a class="color5" href="#">中药材知识库</a>
					<div class="megapanel">
						<div class="row">
							<div class="col1">
								<div class="h_nav">
									<ul>
										<li><a href="{:url('Kown/index',array('id'=>2))}">中药鉴别</a></li>
									</ul>	
								</div>							
							</div>
							<div class="col1">
								<div class="h_nav">
									<ul>
										<li><a href="{:url('Kown/index',array('id'=>3))}">中药美容</a></li>
									</ul>	
								</div>							
							</div>
							<div class="col1">
								<div class="h_nav">
									<ul>
										<li><a href="{:url('Kown/index',array('id'=>4))}">中药炮制</a></li>
									</ul>	
								</div>												
							</div>
							<div class="col1">
								<div class="h_nav">
									<ul>
										<li><a href="{:url('Kown/index',array('id'=>5))}">中药养生</a></li>
									</ul>	
								</div>						
							</div>
							<div class="col1">
								<div class="h_nav">
									<ul>
										<li><a href="{:url('Kown/index',array('id'=>6))}">中药种植</a></li>
									</ul>	
								</div>
							</div>

						</div>
	    			</div>
				</li>
				{if condition='$Think.session.name neq ""'}
				<li><a class="color7" href="#">发布</a>
					<div class="megapanel">
						<div class="row">
							<div class="col1">
								<div class="h_nav">
									<ul>
										<li><a href="{:url('After/index')}">个人信息</a></li>
									</ul>	
								</div>												
							</div>
							<div class="col1">
								<div class="h_nav">
									<ul>
										<li><a href="{:url('After/create_gps')}">发布资源GPS</a></li>
									</ul>	
								</div>							
							</div>
							<div class="col1">
								<div class="h_nav">
									<ul>
										<li><a href="{:url('After/create_medicine')}">发布药材</a></li>
									</ul>	
								</div>							
							</div>
							<div class="col1">
								<div class="h_nav">
									<ul>
										<li><a href="{:url('After/create_medicine_yaoyong')}">发布药用植物</a></li>
									</ul>
								</div>
							</div>
							<div class="col1">
								<div class="h_nav">
									<ul>
										<li><a href="{:url('After/create_suffer')}">发布经验</a></li>
									</ul>	
								</div>							
							</div>
						</div>
	    			</div>
				</li>
				<li><a class="color6" href="{:url('Login/login_out')}">{$Think.session.name}</a></li>
				{else/}
				<li><a class="color6" href="{:url('Login/index')}">登录/注册</a></li>
				{/if}

			</ul> 
		    <div class="search">
			 <form>
				<input type="text" value="" placeholder="Search...">
				<input type="submit" value="">
				</form>
		    </div>
	    	<div class="clearfix"></div>
		</div>
	</div>
</div>